<p id="notice"><%= notice %></p>

<h1>Lista województw</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Liczba mandatów</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @voivodeships.each do |voivodeship| %>
      <tr>
        <td><%= voivodeship.name %></td>
        <td><%= voivodeship.electoral_mandates %></td>
        <td><%= link_to 'Pokaż', voivodeship %></td>
        <td><%= link_to 'Edytuj', edit_voivodeship_path(voivodeship) %></td>
        <td><%= link_to 'Usuń', voivodeship, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Dodaj województwo', new_voivodeship_path %>
