<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @voivodeship.name %>
</p>

<p>
  <strong>Liczba mandatów:</strong>
  <%= @voivodeship.electoral_mandates %>
</p>

<%= link_to 'Edytuj', edit_voivodeship_path(@voivodeship) %> |
<%= link_to 'Wróc', voivodeships_path %>
